/*Import Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');



/*reset styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

li {
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*Colours*/

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}


/*Styling*/

main {
    width: 100vw;
    height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section{
    background-image: url("images/pattern-bg.png");
    background-size: cover;
    width: 100vw;
    height: 30vh;
    text-align: center;
    color: white;
    font-size: 2em;
}

.header{
    margin: 30px 0;
}

#ip-search {
    width: 700px;
    height: 55px;
    border-radius: 15px;
    padding: 0 0 0 10px;
    font-size: 18px;
    margin: 10px;
}


.ip-search-btn {
    position: relative;
    bottom: 65px;
    left: 330px;
    background-color: var(--very-dark-gray);
    height: 55px;
    padding: 20px;
    width: auto;
    border-radius: 0 20px 20px 0;
}

.ip-search-btn:hover{

        background-color: var(--dark-gray);
}   


.ip-details-section{
    position: absolute;
    top: 300px;
    z-index:1;
    border-radius: 15px;
    height:150px;
    width:70vw;
    background-color: white;
    filter: drop-shadow(0px 1px 4px grey);
}

.ip-details{
    display: flex;
    justify-content: space-around;

}

.ip-details-item{
    padding: 20px;
    margin: 0 10px;
    
    
}

.ip-details-header{
    width: 200px;
    margin-right: 100px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-gray);
}


#map { 
       height: 70vh;
       width:100vw;
       z-index: 0;
   
}